/**
 * base.css
 * @authors tammy (http://tammylights.com)
 * @date    2015-10-28 15:26:04
 * @version 1.0
 */

/*初始化默认*/
*, *:before, *:after { webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
a, address, b, td, th, body, code, dd, del, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, ul, input { margin: 0; padding: 0; font: 12px/150% '微软雅黑', Arial, Verdana, "\5b8b\4f53"; color: #666; outline: none; /*-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;*/ }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
button, html input[type=button], input[type=submit] { -webkit-apperance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
ol, ul { list-style: none; }
img { border: 0; vertical-align: middle; }
em, i { font-style: normal; }
table { border-collapse: collapse; border-spacing: 0; background-color: transparent; border: 1px solid #ddd; width: 100%; }
th, td { text-align: left; padding: 8px !important; }
td { border: 1px solid #ddd; }
th { border: 1px solid #ddd; border-bottom: 2px solid #ddd; border-top: 0px; background: #f1f1f1; }
.fl { float: left; }
.fr { float: right; }
.al { text-align: left; }
.ac { text-align: center; }
.ar { text-align: right; }
.hide { display: none; }
.clear, .clr { display: block; height: 0; line-height: 0; font-size: 0; clear: both; overflow: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { *zoom: 1; }
.w { width: 990px; margin: 0 auto; }
.caret { display: inline-block; width: 0; height: 0; margin-left: 2px; vertical-align: middle; border-top: 4px solid; border-right: 4px solid transparent; border-left: 4px solid transparent; }
.img-circle { border-radius: 50%; }
.pull-left { float: left !important; }
.pull-right { float: right !important; }
body { background: #fff; width: 100%; height: 100%; min-width: 1000px; /*width: 1000px; */ }
a { text-decoration: none; color: #333; }
a:link { color: #333; }
a:visited { color: #333; }
a:hover, a:active, a:focus { color: #333; -moz-outline: none; outline: none; }
.advanced_query { display: none; }
.common_query { display: block; }

/*按钮*/
.button, a.button { display: inline-block; border: 0px; cursor: pointer; text-align: center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 14px; font-family: 'microsoft yahei'; color: #fff; padding: 5px 16px; }
.button.orange_btn { background-color: #F29A64; }
.button.orange_btn:hover { background-color: #FFB384; }
.button.delete_btn { background-color: #f56954; }
.button.delete_btn:hover { background-color: #f56954; }
.button.white_btn { background-color: #fafafa; color: #666; border: 1px solid #ddd; }
.button.white_btn:hover { background-color: #EFEEEE; }
.button.grey_btn { background-color: #A9A9A9; }
.button.grey_btn:hover { background-color: #B5B5B5; }
.button.disabled_btn { background-color: #A9A9A9; cursor: not-allowed; }

/*图标*/
.icon { display: inline-block; background: url(../images/icon.png) no-repeat; vertical-align: middle; }
.icon.icon-whiteEmail { background-position: -19px 0px; width: 14px; height: 15px; }
.icon.icon-user { background-position: -1px 0px; width: 14px; height: 15px; }
.icon.icon-greenCircle { width: 12px; height: 12px; border-radius: 50%; background: #3c763d; }
.icon.icon-big { width: 15px; height: 13px; background-position: -35px -2px; }
.icon.icon-lt { width: 5px; height: 9px; background-position: -52px -2px; }
.icon.icon-lt-down { width: 9px; height: 5px; background-position: -51px -12px; }
.icon.icon-dashboard { width: 16px; height: 11px; background-position: 0px -23px; }
.icon.icon-widget { width: 14px; height: 11px; background-position: -22px -23px; }
.icon.icon-charts { width: 15px; height: 12px; background-position: -42px -23px; }
.icon.icon-computer { width: 15px; height: 10px; background-position: -62px -23px; }
.icon.icon-edit { width: 15px; height: 11px; background-position: -1px -41px; }
.icon.icon-table { width: 13px; height: 11px; background-position: -22px -41px; }
.icon.icon-message { width: 14px; height: 11px; background-position: -62px -41px; }

/*分页开始*/
.pagination { text-align: right; }
.pagination a, .pagination .ky_pages span { height: 28px; line-height: 28px; display: inline-block; padding: 0 10px; border-radius: 5px; margin: 0 2px; color: #9ea9b1; background: #e8ecf0; }
.pagination .ky_pages .ellipsis { border: 0; margin: 0; }
.pagination .ky_pages .ky_current_page, .pagination a:hover, .pagination .ky_pages span:hover { background: #839097; color: #fff; }
.pagination .ky_pages span.ky_next_page:hover, .pagination .ky_pages span.ky_pre_page:hover { background: #e8ecf0; color: #9ea9b1; }
.pagination span { color: #666; margin: 0 5px }
.pagination a i { width: 12px; height: 10px; overflow: hidden; }
.pagination a i.previous { background-position: -22px -19px; margin-top: 10px; display: none; }
.pagination a:hover i.previous { background-position: -60px -19px; }
.pagination a i.next { background-position: 0px -19px; margin-top: 10px; display: none; }
.pagination a:hover i.next { background-position: -38px -19px; }
.pagination .next-a { *width: 55px }
.pagination .ky_pages span.ellipsis { background: none; }
.pagination .ky_pages span.ellipsis:hover { color: #9ea9b1; }
.ky_pre_page, .ky_next_page { font-family: 'å®‹ä½“' }
.pagination .ky_pages .ky_first_page, .pagination .ky_pages .ky_last_page {    /*display: none;*/ }
.ky_pages, .ky_jump_to, .ky_page, .ky_page_next, .ky_page_pre { display: inline-block; vertical-align: bottom; *display: inline; *zoom: 1; }
.ky_jump_to .ky_jump_text, .ky_jump_to .ky_jump_button { width: 36px; height: 30px; line-height: 30px; border-radius: 5px; padding: 0 0 0 4px; border: 1px solid #CACACA; margin-bottom: 0; }
.ky_jump_to .ky_jump_button { background: #fff; cursor: pointer; width: 50px; vertical-align: bottom; }
.ky_jump_to .ky_jump_button:hover { background: #4E82B6; border-color: #4E82B6; color: #fff; }
.ky-select { width: 210px; height: 34px; border: 1px solid #D0D0D0; position: relative; cursor: pointer; }
.ky-select .triangle { position: absolute; width: 0; height: 0; overflow: hidden; border-width: 10px 8px; border-color: #ACACAC transparent transparent; border-style: solid; top: 13px; right: 6px; _border-style: solid dashed dashed; }
.ky-select .ky-option { height: 34px; line-height: 34px; padding-left: 10px; display: block; }
.ky-select-dropdown { width: 210px; max-height: 200px; border: 1px solid #D0D0D0; display: none; position: absolute; top: 34px; left: -1px; background: #fff; overflow-y: auto; overflow-x: hidden; }
.ky-select-dropdown a { height: 30px; line-height: 30px; padding: 0 10px; display: block; border-bottom: 1px solid #EBEBEB; }
.ky-select-dropdown a:last-child { border-bottom: 0; }
.ky-select-dropdown a:hover { text-decoration: none; background: #f5f5f5; }

/*分页结束*/

/*正在加载*/
.loading { z-index: 999; background-color: #000; opacity: 0.6; filter: alpha(opacity=60); position: fixed; _position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
.loading-img { position: fixed; _position: absolute; top: 50%; left: 50%; z-index: 1000; width: 32px; height: 32px; background: url('../images/loading.gif') no-repeat; margin: -16px -16px 0px 0px; }