/**
 * 
 * @authors tammy (http://tammylights.com)
 * @date    2015-10-28 14:54:43
 * @version 1.0
 */

/*按钮*/
.button, a.button { display: inline-block; border: 0px; cursor: pointer; padding: 8px 12px; text-align: center; border-radius: 4px; color: #fff; font-size: 14px; font-family: 'microsoft yahei'; }
.button.orange_btn { background-color: #F29A64; }
.button.orange_btn:hover { background-color: #FFB384; }
.button.grey_btn { background-color: #A9A9A9; }
.button.grey_btn:hover { background-color: #B5B5B5; }
.button.disabled_btn { background-color: #A9A9A9; }

/*顶部*/
.header .logo { width: 120px; height: 20px; display: inline-block; background: #367fa9 url(/src/images/logo.png) no-repeat center center; padding: 15px 40px; float: left; }
.header .navbar { height: 50px; background-color: #3c8dbc; position: relative; z-index: -1000; }
.header .navbar .navbar-right { float: right !important; }
.header .navbar .navbar-right .navbar-nav { float: left; margin-right: 10px; }