/**
 * 
 * @authors tammy (http://tammylights.com)
 * @date    2015-10-28 14:54:43
 * @version 1.0
 */

/*顶部*/
.header { position: relative; }
.header .logo { height: 50px; display: inline-block; background: #367fa9 url(/src/images/logo.png) no-repeat center center; float: left; position: relative; width: 220px; }
.header .navbar { height: 50px; background-color: #3c8dbc; margin-left: 220px; }
.header .navbar-right { float: right !important; }
.header .navbar-right .navbar-nav { float: left; margin-right: 10px; }
.header .sidebar-toggle { padding: 9px 5px; border: 1px solid transparent; float: left; margin: 8px 0px 8px 5px; cursor: pointer; display: block; }
.header .sidebar-toggle .sr-only { position: absolute; margin: -1px; left: 0px; top: 0px; }
.header .sidebar-toggle .icon-bar { width: 22px; height: 2px; display: block; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background: rgba(255, 255, 255, 0.8); }
.header .sidebar-toggle:hover .icon-bar { background: rgba(255, 255, 255, 1); }
.header .sidebar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
.header .navbar-right .navbar-nav>li { float: left; position: relative; display: block; overflow: hidden; }
.header .navbar-right .navbar-nav>li>a { font-weight: bold; display: block; padding: 14px; font-size: 12px; color: #fff; }
.header .navbar-right .navbar-nav>li>a:hover { background: #357EA8; }
.header .navbar-right .navbar-nav>li>a .icon { margin-right: 3px; }
.header .navbar-right .navbar-nav>li>a .icon-user { height: 20px; }
.header .navbar-right .navbar-nav>li>a span { color: #fff; }
.header .navbar-right .navbar-nav>li .label { position: absolute; top: 6px; right: 6px; display: block; border-radius: 50%; background-color: #5cb85c; text-align: center; padding: 2px; width: 15px; height: 15px; line-height: 1em; }

/*内容*/
.wrapper { min-height: 100%; background: #f9f9f9; position: relative; }
.sidebar { color: #555; }
.left-side { width: 220px; position: absolute; left: 0px; background: #f4f4f4; -webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1); box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07); min-height: 100%; top: 0px; overflow: auto; }
.right-side { margin-left: 220px; }
.right-side .pull-right:after { clear: both; }

/*--------------------menu container begin-------------------------*/

/*用户信息*/
.user-panel { padding: 10px; margin-bottom: 15px; }
.user-panel:before, .user-panel:after { display: table; content: " "; }
.user-panel:after { clear: both; }
.user-panel>.image>img { width: 45px; height: 45px; border: 1px solid #dfdfdf; }
.user-panel > .info { padding: 5px 5px 5px 15px; font-size: 14px; line-height: 1; }
.user-panel > .info a { color: #555; font-size: 11px; }
.user-panel > .info a .icon-greenCircle { width: 10px; height: 10px; }
.user-panel > .info p { margin-bottom: 5px; }

/*搜索*/
.sidebar-form { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; border: 1px solid #dbdbdb; margin: 10px 10px; width: 200px; height: 37px; overflow: hidden; margin: 13px auto; }
.sidebar-form .input-group { position: relative; display: block; border-collapse: separate; }
.sidebar-form input[type="text"], .sidebar-form .btn { box-shadow: none; background-color: #fafafa; border: 1px solid #fafafa; height: 35px; }
.sidebar-form .form-control { text-indent: 10px; vertical-align: middle; width: 82%; line-height: 35px; }
.sidebar-form .form-control:focus { outline: none; }
.sidebar-form input[type="text"] { color: #666; -webkit-border-top-left-radius: 2px !important; -webkit-border-top-right-radius: 0 !important; -webkit-border-bottom-right-radius: 0 !important; -webkit-border-bottom-left-radius: 2px !important; -moz-border-radius-topleft: 2px !important; -moz-border-radius-topright: 0 !important; -moz-border-radius-bottomright: 0 !important; -moz-border-radius-bottomleft: 2px !important; border-top-left-radius: 2px !important; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; border-bottom-left-radius: 2px !important; }
.sidebar-form .input-group { width: 100%; height: 100%; overflow: hidden; background-color: #fafafa; }
.sidebar-form .input-group-btn { width: 17%; background-color: #fafafa; display: inline-block; text-align: center; height: 35px; }
.sidebar-form .input-group-btn > i { margin-top: 11px; }

/*功能菜单*/
.sidebar-menu li { border-top: 1px solid #fff; border-bottom: 1px solid #dbdbdb; }
.sidebar-menu li>a { padding: 12px 5px 12px 15px; display: block; }
.sidebar-menu li>a>.icon { margin-right: 5px; }
.sidebar-menu li>a>.icon-lt, .sidebar-menu>li>a>.icon-lt-down { margin: 6px 15px 0 0; }
.sidebar-menu li>a .pull-right:after { clear: both; }
.sidebar-menu>li>a:hover, .sidebar-menu>li.active { background-color: #fff; }
.sidebar-menu>li.active>a span { font-weight: bold; color: #222; }
.sidebar-menu ul li { border: 0; }
.sidebar-menu ul li.active span { color: orange; }
.sidebar-menu ul a { text-indent: 20px; }
.sidebar-menu ul a:hover span { color: orange; }

/*--------------------menu container end-------------------------*/
.content-header { background: #fbfbfb; padding: 15px 15px 10px 20px; height: 50px; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); border-bottom: 1px solid #EAEAEA; position: relative; }
.content-header h1 { font-size: 20px; margin: 0; color: #333; font-weight: 600; margin-top: -6px; }
.content-header>.pull-right:after { clear: both; }
.content-header .breadCrumb { font-size: 12px; display: none; }
.content-header .breadCrumb>li { display: inline-block; }
.content-header .breadCrumb>li + li:before { color: #ccc; content: '>\00a0'; }
.content-header .breadCrumb .active { color: #999; }

/*内容-表格*/
.dataContent { position: relative; z-index: 1; background: #fff; border-top: 2px solid #c1c1c1; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; width: 98%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); margin: 20px auto; padding: 10px; border: 1px solid #ddd\9; margin-bottom: 20px; }
.dataContent table { margin: 20px auto 0px; }

/*内容-表格查询条件*/
.search-container select { color: #666; }
.search-container td, .search-container th { padding: 5px 9px !important; }
.search-container .common_query .searchContent { width: 160px; }
.search-container table td.searchTitle { text-align: right; width: 145px; }
.search-container table td.searchContent input[type="text"], select { height: 30px; border: 1px solid #ddd; line-height: 30px; width: 145px; }
.search-container table td.searchContent input.dateTime, .dataContent>.search-container table td.searchContent input.dateTime + span { width: 62px; }
.search-container table td, .dataContent>.search-container table th { border: 0; }
.moduleFlag>h3 { display: inline-block; padding: 5px 0px 10px 10px; margin: 0; font-size: 18px; font-weight: 400; }
.search-container .opertionCon { float: right; padding: 20px 0px; }

/*内容-表格数据*/
.dataShow tbody>tr:hover { background-color: #f5f5f5; }
.dataShow .operaList { overflow: hidden; margin: 0px auto; }
.dataShow .operaList li { float: left; }
.dataShow .operaList .button { padding: 3px 6px; font-size: 12px; color: #666; margin-right: 5px; margin-bottom: 5px; }
.dataShow tbody td { word-break: break-all; word-wrap: break-word; }

/*分页*/
.page-box { width: 100%; height: 40px; margin: 20px 0px 0px 0px; }
.page-box .pageUl { float: right; margin: 8px 0px; display: inline-block; }
.page-box .pageUl:after, .page-box .pageUl li>a:after { clear: both; }
.page-box .pageUl li { display: inline; }
.page-box .pageUl li>a { -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09); background: #fafafa; color: #666; padding: 6px 12px; text-decoration: none; float: left; font-size: 12px; -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09); border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; }
.page-box .pageUl li>a:hover { background-color: #eee; }
.page-box .pageUl li:last-child>a { border-right: 1px solid #ddd; }
.page-box .pageUl li>a.active { background: #428bca; border-color: #428bca; color: #fff; }